---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import perfil from '../assets/perfil-image.png';
import zenithLogo from '../assets/zenith.png';
import quarterLogo from '../assets/quarter.png';
import InstagramIcon from '../components/Instagram'
import TwitchIcon from '../components/Twitch'
import XIcon from '../components/X'
import LinkedinIcon from '../components/Linkedin'
import GithubIcon from '../components/Github';
---

<Layout title="Marco's Website">
	<main class="h-full">
		<div class="flex items-center justify-center h-full flex-col">
			<Image class="drop-shadow-lg" src={perfil} alt="Imagem de um rapaz bonito"/>
			<h3 class="font-firaCode mt-8 text-white text-4xl w-80 text-center leading-[50px]">Marco Antônio Pierozan</h3>
			<div class="flex gap-8 mt-12">
				<GithubIcon size={48} url='https://github.com/marcoan20'/>
				<InstagramIcon size={48} url='https://www.instagram.com/marcopierozan/'/>
				<TwitchIcon size={48} url='https://www.twitch.tv/zolldyyck'/>
				<XIcon size={48} url='https://twitter.com/marcopierozan'/>
				<LinkedinIcon size={48} url='https://www.linkedin.com/in/marcopierozan/'/>
			</div>
			<div class="absolute bottom-0 mt-[115px] h-[176px] w-full bg-enterprise-bar bg-opacity-60 flex justify-evenly items-center">
				<a href="https://zenithinova.com.br"><Image class="h-20 w-auto bg-blend-luminosity" src={zenithLogo} alt="Zenith Inova" /></a>
				<a href="https://quartertec.com.br"></a><Image class="h-20 w-auto bg-blend-luminosity" src={quarterLogo} alt="Quarter Tecnologia" /></a>
			</div>
		</div>
	</main>
</Layout>

<style is:global>
	* {
		overscroll-behavior: none;
	}
</style>